body{
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Header Name */
h1 {
    font-size: 75px;
    font-family: 'Chango', cursive;
    padding-left: 25px;
    float: left;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

/* Buttons on Nav bar */
button{
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background-color: white;
}

.button1{
    background-color: #F4C6F6;
}
.button1:hover{
    color: #E88EED;
}

.button2{
    background-color: #FFDE84;
}
.button2:hover{
    color: #FFBC0A;
}

.button3{
    background-color: #80C8D6;
}
.button3:hover{
    color: #0091AD;
}

.button4{
    background-color: #ACDEC0;
}
.button4:hover{
    color: #58BC82;
}

/* Nav bar formatting */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.tabs {
    line-height: 9;
    padding-right: 15px;
    float: right;
}

.topnav a {
    float: right;
    height: 10%;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    font-size: 20px;
}

.topnav {
    position: sticky;
    top: 0;
}

hr {
    width: 100%;
    clear: both;
    visibility: hidden;
}

/* Homepage */
h2 {
    padding-left: 25px;
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    letter-spacing: 3px;
}

ol {
    font-family: 'Sawarabi Gothic', sans-serif;
}

p {
    font-family: 'Sawarabi Gothic', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

main div p {
    padding-left: 25px;
}

.basics{
    font-size: 24px;
}

.blocks {
    height: 800px;
    width: 800px;
}

/* About PG */
.me {
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
    padding: 30px;
}

/* Media query: phone*/
@media screen and (max-width: 600px){
    body {
        background-color: #fcf3d2;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    main div {
        padding-left: 20px;
        padding-right: 25px;
        text-align: center;
    }

    .me {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .topnav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 10px;
        background-color: #e3e1e1;
    }

    .tabs {
        padding-left: 20px;
    }

  }

/* Media query: desktop*/
@media screen and (min-width: 601px){
    body {
        background-color: #FBE1D4;
    }
    
    .topnav{
        background-color: #D3E5F7;
    }

    main div .basics {
        display: grid;
        align-items: center;
        padding-top: 25px;
    }
}