body {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    width: 100%;
    clear: both;
    visibility: hidden;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h2 {
    padding-left: 25px;
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    letter-spacing: 3px;
}

p {
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* Header Name ---------------------------------------------------------------------------- */
h1 {
    font-size: 75px;
    font-family: 'Chango', cursive;
    padding-left: 25px;
    float: left;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

/* Buttons on Nav bar ---------------------------------------------------------------------------- */
#button1 {
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F4C6F6;
}
#button1:hover {
    color: white;
}

#button2 {
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #FFDE84;
}
#button2:hover {
    color: white;
}

#button3 {
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #80C8D6;
}
#button3:hover {
    color: white;
}

#button4 {
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #ACDEC0;
}
#button4:hover {
    color: white;
}

/* Nav bar formatting ---------------------------------------------------------------------------- */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.tabs {
    line-height: 5;
    padding-right: 15px;
    float: right;
}

li {
   padding: 20px; 
}

.topnav {
    position: sticky;
    top: 0;
}

ol {
    font-family: 'Sawarabi Gothic', sans-serif;
}

main div p {
    padding-left: 25px;
}

/* Homepage ---------------------------------------------------------------------------- */
.basics {
    font-size: 20px;
}

.blocks {
    height: 500px;
    width: 500px;
}

/* About PG ---------------------------------------------------------------------------- */
.me {
    height: 400px; 
    width: 400px; 
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
}

/* Contact PG ---------------------------------------------------------------------------- */
.letter-writing {
    padding: 30px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
}

#line1 {
    font-size: 20px;
}

div .content {
    text-indent: 18px;
    font-size: 20px;
}

/* Projects PG ---------------------------------------------------------------------------- */
.projects {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-items: center;
    align-items: center;
}

.projects figcaption {
    text-align: center;
}

figcaption {
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* Gallery PG ---------------------------------------------------------------------------- */

.photos {
    padding: 30px;
    line-height: 200px;
}

/* Media query: phone ---------------------------------------------------------------------------- */
@media screen and (max-width: 600px){
    body {
        background-color: #fcf3d2;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-items: center;
    }

    main div {
        padding-right: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .blocks {
        height: 80%;
        width: 80%;
    }

    .letter-writing {
        height: 80%;
        width: 80%;
    }

    .topnav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 10px;
        background-color: #e3e1e1;
    }

    .tabs {
        padding-left: 20px;
    }

    #button1 {
        font-size: 16px;
    }

    #button2 {
        font-size: 16px;
    }    

    #button3 {
        font-size: 16px;
    }    

    #button4 {
        font-size: 16px;
    }    

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    #film {
        width: 75%;
        height: auto;
        padding-left: 65px;
    }
  }

/* Media query: desktop ---------------------------------------------------------------------------- */
@media screen and (min-width: 601px){
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    body {
        background-color: #FBE1D4;
    }
    
    .topnav{
        background-color: #D3E5F7;
    }

    main div .basics {
        display: grid;
        align-items: center;
        padding-top: 25px;
    }
}