body {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    width: 100%;
    clear: both;
    visibility: hidden;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h2 {
    color: white;
    padding-left: 25px;
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    letter-spacing: 3px;
}

p {
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* Header Name ---------------------------------------------------------------------------- */
h1 {
    font-size: 60px;
    font-family: 'Chango', cursive;
    padding-left: 25px;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    position: absolute;
    top: -30px;
}

/* Buttons on Nav bar ---------------------------------------------------------------------------- */
#button1 {
    color: black;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F4C6F6;
}
#button1:hover {
    color: white;
}

#button2 {
    color: black;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #FFDE84;
}
#button2:hover {
    color: white;
}

#button3 {
    color: black;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #80C8D6;
}
#button3:hover {
    color: white;
}

#button4 {
    color: black;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #ACDEC0;
}
#button4:hover {
    color: white;
}

#button5 {
    color: black;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #FFAFAD;
}
#button5:hover {
    color: white;
}

#button6 {
    color: black;
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    padding: 5px 12px;
    border-radius: 16px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #cba6de;
}

#button6:hover {
    color: white;
}

/* Nav bar formatting ---------------------------------------------------------------------------- */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.tabs {
    padding-right: 15px;
    float: right;
    line-height: 32px;
}

li {
   padding: 20px; 
}

.topnav {
    top: 0;
    height: 100px;
}

ol {
    font-family: 'Sawarabi Gothic', sans-serif;
}

main div p {
    padding-left: 25px;
}

/* Homepage ---------------------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* About PG ---------------------------------------------------------------------------- */
.info-box {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

#para1 {
    font-size: 20px;
    margin-top: 100px;
    margin-right: 25px;
}

.me {
    height: 300px; 
    width: 300px; 
    float: right;
    margin-right: 40px;
    filter: drop-shadow(10px 10px 10px #61638a);
}

#para2 {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 25px;
}

.boulder {
    width: 510px;
    height: 300px;
    float: left;
    margin-left: 25px;
    filter: drop-shadow(10px 10px 10px #74826b);
}

#para3 {
    font-size: 20px;
}

.giphy-embed{
    border: 0;
    margin: 25px;
    filter: drop-shadow(10px 10px 10px #fab176);
}

.facts {
    margin-left: 10px;
    margin-top: 90px;
}

/* Contact PG ---------------------------------------------------------------------------- */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.letter-writing {
    margin-left: 80px;
    margin-top: 30px;
    float: none;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

main div p {
    padding-right: 45px;
}

main div a {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Style all font awesome icons */
.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 200px;
  }

.fa-google {
    background: #dd4b39;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 150px;
  }

.fa-pinterest {
    background: #cb2027;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 200px;
  }

.far {
    background: #21759b;
    color: white;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 150px;
}
  
/* Hover effect if you want */
.fa-linkedin:hover {
    opacity: 0.7;
  }

.fa-google:hover {
    opacity: 0.7;
  }

.fa-pinterest:hover {
    opacity: 0.7;
  }

.far:hover {
    opacity: 0.7;
}

/* Projects PG ---------------------------------------------------------------------------- */
.projects {
    width: 100%;
}

.image-row {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 50px;
    padding: 30px;
    justify-items: center;
    align-items: center;
}

.holder img {
    max-width: 300px;
    max-height: 300px;
}

.holder {
    position: relative;
}

.holder:hover .overlay {
    opacity: 1;
}

.thumbnail {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #c0b3d7;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
}
/* Projects: Gallery PG ---------------------------------------------------------------------------- */
.photos {
    padding: 30px;
    line-height: 200px;
}

/* Projects: Bloom App PG ---------------------------------------------------------------------------- */
.description {
    padding-left: 25px;
    padding-right: 25px;
}

.points {
    padding-left: 50px;
}

.links {
    color: white;
}

.bloom-images {
    margin-left: 25px;
    margin-right: 25px;
}

.bloom-images img {
    height: 20%;
    width: 20%;
    margin: 30px;
}

/* Projects: Reframing Portrait Book PG ---------------------------------------------------------------------------- */
.portrait-images {
    margin-left: 25px;
    margin-right: 25px;
}

.portrait-images img {
    height: 20%;
    width: 20%;
    margin: 30px;
}

/* Projects: Accordian Book PG ---------------------------------------------------------------------------- */
.accordian-images img {
    height: 75%;
    width: 75%;
    margin: 30px;
    margin-left: 170px;
    margin-right: 170px;
}

/* Projects: Poster Mailer PG ---------------------------------------------------------------------------- */
.poster-images img {
    height: 40%;
    width: 40%;
    margin: 30px;
    margin-left: 130px;
    margin-right: 130px;
}

/* Views PG ---------------------------------------------------------------------------- */
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

.row {
    margin: 20px;
}
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 20px;
    left: 75px;
    color: white;
    font-size: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 20px;
    right: 105px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #expandedImg {
    width: 91%;
    height: 91%;
    margin-left: 52px;
  }

  .music {
    margin-left: 25px;
    width: 95%;
  }

/* Media query: phone ---------------------------------------------------------------------------- */
@media screen and (max-width: 1200px){
    body {
        background-color: #ffeba0;
    }

    /* Menu / Nav bar */
    .topnav {
        background-color: #e4e3e3;
        display: block;
    }

    .tabs {
        display: none;
        position: relative;
        padding: 0;
        width: 85%;
        background-color: #e4e3e3;
        margin-right: 5%;
        z-index: 1;
    }

    #button1 {
        text-align: center;
        font-size: 16px;
        width: 60%;
        margin-left: auto;
    }

    #button2 {
        text-align: center;
        font-size: 16px;
        width: 60%;
        margin-left: -10%;
    }

    #button3 {
        text-align: center;
        font-size: 16px;
        width: 60%;
        margin-left: auto;
    }

    #button4 {
        text-align: center;
        font-size: 16px;
        width: 60%;
        margin-left: -7%;
    }

    #button5 {
        text-align: center;
        font-size: 16px;
        width: 60%;
        margin-left: 8%;
    }

    #button6 {
        text-align: center;
        font-size: 16px;
        width: 60%;
        margin-left: auto;
    }

    ul {
        display: inline-block;
        list-style: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        left: 75%;
      }

    .dropdown:hover .tabs {
        display: block;
    }

    .dropbtn {
        display: flex;
        position: relative;
        right: 5%;
        line-height: 45px;
        background-color: #b6b4b4;
        color: black;
        font-size: 24px;
        font-family: 'Fredoka One', cursive;
        border: none;
        border-radius: 16px;
        padding: 5px 12px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin: 20px;
    }

    .dropbtn:hover {
        background-color: #919191;
        display: block;
        color: white;
    }

    /* Project PG */
    .image-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-items: center;
    }

    .accordian-images img {
        display: inline-block;
        margin-left: 50px;
    }

    /* About PG */
    .info-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-items: center;
    }

    /* Contact PG */
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-items: center;
    }

    .fa-linkedin {
        margin-left: 100px;
    }

    .fa-pinterest {
        margin-left: 100px;
    }

    .letter-writing {
        margin-left: 0;
        margin-bottom: 50px;
    }

    /* Views PG */
    #expandedImg {
        width: 48%;
        height: 48%;
        margin-left: 50px;
    }

    #imgtext {
        position: absolute;
        bottom: 10px;
        left: 60px;
        color: white;
        font-size: 10px;
    }
  
  .closebtn {
        position: absolute;
        top: 5px;
        right: 155px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }

    .music {
        width: 90%;
    }

    .row {
        margin-left: 120px;
    }

    .container {
        margin-left: 110px;
    }
  }

/* Media query: desktop ---------------------------------------------------------------------------- */
@media screen and (min-width: 1201px){
    body {
        background-color: #ffdcca;
    }
    
    .topnav{
        background-color: #D3E5F7;
    }

    .dropbtn {
        display: none;
    }
}