h2 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  letter-spacing: 2px;
}

body {
  /* width: 640px; */
  margin: auto;
  background-color: #FBE1D4;
  text-align: center;
}

.topnav {
  background-color: #D3E5F7;
  padding-top: 0.3px;
  position: sticky;
}

hr {
  width: 100%;
  clear: both;
  visibility: hidden;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
}

.displayed-img {
  width: 640px;
  height: 480px;
}

h1 {
  font-family: 'Chango', cursive;
  font-size: 75px;
  padding-left: 25px;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: inline-block;
  position: center;
  width: 9.1%;
  cursor: pointer;
}